*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
	background-color: beige;
	position: relative;
	min-height: 100vh;
	padding-bottom: 58px;
}
header
{
	color: mistyrose;
	background-color: darkgreen;
	padding: 50px;
	font-family: georgia;
	text-align: center;
	font-size: 20px;
}

a:link, a:visited
{
	margin: 5px;
	color: floralwhite;
	background-color: seagreen;
	text-decoration: none;
	text-align: center;
	font-family: verdana;
	padding: 20PX;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
}
a:hover, a:active
{
	color: deeppink;
	background-color: lightpink;
	text-decoration: none;
}
p
{
	margin: 30px;
	color: darkgreen;
	text-align: center;
	font-family: cursive;
	font-size: 18px;
}
h5
{
	color: darkgreen;
	font-family: verdana;
}
audio
{
	width: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #006773;
  margin: 10px;
}
footer
{
	color: floralwhite;
	text-align: center;
	font-family: georgia;
	background-color: darkgreen;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
